{% extends 'layout/layout_loggedin-admin.html' %} {% block title %}Title{% endblock %} {%
block content %} {% with messages = get_flashed_messages() %} {% if messages %}
<div class="alert alert-success">{{ messages[0] }}</div>
{% endif %} {% endwith %} {% include './components/nav.html' %}

<section class="d-flex flex-column container-fluid bc-green" style="margin-top: 5rem;">
    <div class="container p-4 my-4 bg-white rounded-2">
        <h2 class="fw-bold">A/B Testing คืออะไร</h2>
        <div>
            <p>
                A/B Testing เป็นกระบวนการทาง User Experience เพื่อทดสอบว่าองค์ประกอบ (Element) แบบไหน
                จะช่วยให้ผู้ใช้งานเกิดประสบการณ์การใช้งานที่ดี และนำไปสู่ Conversion ที่มากที่สุด
                ซึ่งผลลัพธ์ที่ได้จะเป็นรูปแบบข้อมูลเชิงปริมาณ (Quantitative Data)
                ยกตัวอย่างเช่น แบรนด์จะรู้ได้อย่างไรว่า ปุ่มสีเขียว หรือ ปุ่มสีแดง จะกระตุ้นให้ลูกค้ากดมากกว่ากัน
                ก็ต้องลองทดสอบผ่าน A/B Testing โดยระบบจะสร้างเว็บไซต์ออกเป็นสองเวอร์ชันได้แก่
            </p>
            <!-- list -->
            <ul>
                <li>เวอร์ชัน A ที่ใช้ปุ่มสีแดง</li>
                <li>เวอร์ชัน B ใช้ปุ่มสีเขียว</li>
            </ul>

            <p>
                และสุ่มแสดงแต่ละเวอร์ชันกับผู้ใช้งานที่มีโปรไฟล์ใกล้เคียงกัน (กลุ่ม Segment ที่แบรนด์ต้องการทดสอบ)
                จากนั้นรอดูผลลัพธ์ว่าเวอร์ชันไหนที่สร้าง Conversion Rate ได้มากกว่ากัน ซึ่งการทำ A/B Testing
                ก็ช่วยให้แบรนด์ไม่ต้องคิดไปเองว่าควรปรับแบบไหน แต่จะสามารถปรับดีไซน์ได้ดีขึ้นได้จริง
                โดยอิงจากผลลัพธ์จากผู้ใช้งานจริง ซึ่งแบรนด์สามารถเลือกทดสอบองค์ประกอบต่างๆ
                บนเว็บไซต์ได้มากมาย เช่น สี, Messaging, รูปภาพ และอื่นๆ เพื่อทดสอบว่าองค์ประกอบไหน
                ช่วยทำให้เกิด Conversion มากที่สุด ซึ่งแต่ละเวอร์ชัน จะถูกสุ่มไปให้กับคนเข้าเว็บไซต์
                ที่มีโปรไฟล์ใกล้เคียงกันตาม Criteria ที่แบรนด์กำหนด เช่น เทสต์กับผู้ใช้บงานที่เข้าใช้งาน
                ผ่านมือถือ Andriod เพื่อสุดท้ายจะดูว่าเวอร์ชันใดที่ทำให้เกิด Conversion Rate มากกว่ากัน
            </p>

        </div>
        <h2 class="fw-bold">A/B Testing มีประโยชน์อย่างไร</h2>
        <div>
            <p>

                1. แก้ปัญหาให้กับผู้ใช้งาน
                ดีไซน์หน้าเว็บไซต์ปัจจุบันนั้น ช่วยทำให้ลูกค้าสามารถค้นหาสิ่งที่ต้องการได้ง่าย
                และเกิดประสบการณ์ที่ดีแล้วหรือยัง? แบรนด์สามารถวิเคราะห์ปัญหาการใช้งานได้หลากวิธี เช่น
                วิเคราะห์ข้อมูลจาก
                Google
                Analytics , ทำ Usability Test จากนั้นเมื่อรู้แล้วว่าเว็บไซต์มีปัญหาตรงไหน
                ก็สามารถทดลองปรับเปลี่ยนองค์ประกอบและทดสอบได้ผ่านการทำ A/B Testing
                เพื่อดูว่าเวอร์ชันไหนที่สร้างประสบการณ์การใช้งานที่ดีกว่ากัน
            </p>

            <p>
                2. เพิ่ม Conversion โดยลงทุนนิดเดียว
                A/B Testing ช่วยให้แบรนด์ไม่ต้องคิดไปเองว่าองค์ประกอบแบบไหนเวิร์ค แต่ใช้ข้อมูลจริงช่วยในการตัดสินใจ
                ว่าองค์ประกอบแบบไหนได้ผลตอบรับดีกว่ากัน
            </p>

            <p>
                3. ลดจำนวน Bounce Rate
                ก่อนอื่นมาทำความเข้าใจ Bounce Rate เบื้องต้นกันก่อน Bounce Rate หมายถึงคนที่เข้ามาในหน้า Landing Page
                แล้วไม่ไปทำอะไรต่อ และออกจากเว็บไซต์เราไปนั่นเอง ดังนั้นแม้ว่าในหน้านั้นลูกค้าจะมีการเล่น Activity ต่างๆ
                เช่น
                กดเปรียบเทียบสินค้า อ่านบทความ แต่ถ้าไม่ไปหน้าอื่นต่อทาง Google ก็ยังถือว่าเป็น Bounce Rate อยู่ดี
                และหากหน้านั้น เป็นหน้าสำคัญที่แบรนด์ต้องการให้ลูกค้าเกิด Action ต่อ แต่ลูกค้ากลับออกไป
                ก็ทำให้แบรนด์พลาดลูกค้าคนสำคัญไป
                แบรนด์ควรหมั่นทำ A/B Testing เพื่อสร้าง Conversion ตามที่แบรนด์ต้องการ ผ่านการทดสอบองค์ประกอบสำคัญ อาทิ
            <ul>
                <li>Call To Action (CTA) : ใช้ CTAs แบบไหนดีกว่ากันระหว่าง Text – ปุ่ม – image links ,ดีไซน์ของปุ่ม ,
                    ตำแหน่งของCTA, จำนวน CTA ในหน้านั้นๆ</li>
                <li> Messaging : คำที่เลือกใช้มีความดึงดูดมากพอหรือไม่ , Font style มีความเหมาะสม</li>
                <li> รูป/ไอคอน : ลักษณะของรูป , ตำแหน่งของรูป , สี และ ขนาดของรูป</li>
                <li>Page Layout : การเรียงลำดับสิ่งที่ต้องการนำเสนอ , Messaging ที่เลือกใช้</li>
                <li>และอื่นๆ อีกมากมาย</li>
            </ul>
            </p>

            <p>
                4. ลดความเสี่ยงในการปรับเปลี่ยน Element , UX ใหม่ๆ บนหน้าเว็บไซต์
                ในการปรับเปลี่ยนองค์ประกอบในเว็บไซต์นั้นมีความเสี่ยง ยิ่งแบรนด์ที่มีผู้ใช้งานเยอะๆ
                หากปรับเปลี่ยนไปทีเดียว
                แล้วเว็บไซต์ใหม่ดันใช้งานยากกว่าเดิม หรือไม่ถูกใจลูกค้าขึ้นมาล่ะก็​
                ลูกค้ามีสิทธิย้ายไปเป็นลูกค้าแบรนด์อื่นเลยล่ะค่ะ ดังนั้น A/B Testing
                เข้ามาช่วยลดความเสี่ยงที่จะเกิดขึ้นเหล่านี้เพื่อลองเปรียบเทียบว่าดีไซน์แบบใดจะสร้างประสบการณ์การใช้งานที่ดีให้กับลูกค้ามากกว่ากัน
                โดยสามารถเลือกทดลองกับผู้ใช้งานกลุ่มเล็กๆ ก่อน เมื่อได้เวอร์ชันที่ดีแล้ว
                ค่อยปรับเปลี่ยนเป็นเวอร์ชันนั้นกับผู้ใช้งานทั้งหมด
            </p>

        </div>
    </div>
</section>

{% endblock %} {% block footer %} {% include 'footer.html' %} {% endblock %}